.loading {
  display: block;
  width: 160px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.main-sub-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.77);
  span {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(32, 31, 31, 0.7);
    box-shadow: 0 0 2px #343333;
    color: #787878;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.main-sub-header_email {
  text-decoration: underline;
}

.main-header {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.62);
}

.main-header__logo {
  display: inline-block;
  max-width: 90%;
}

.main-header-call {
  padding-top: 20px;
  text-align: right;
  span {
    display: block;
    color: white;
    font-family: Verdana;
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
  }
  a {
    display: block;
    margin-top: 7px;
    text-shadow: 0 0 21px rgba(66, 214, 255, 0.67);
    color: #42d6ff;
    font-family: Verdana;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
  }
}

.slide-1__block {
  position: absolute;
  bottom: 60px;
  padding: 28px 26px;
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 5px;
  span {
    display: block;
    color: white;
    font-family: Verdana;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
  }
  a {
    display: inline-block;
    padding: 12px 30px;
    border: 1px solid white;
    border-radius: 3px;
    color: #42d6ff;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      background-color: white;
      text-decoration: none;
      color: #343333;
    }
  }
}

.side-features {
  color: #595959;
}

.side-features__title {
  display: block;
  margin-bottom: 24px;
  color: #595959;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.side-features__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: all 0.2s ease-out;
  span {
    color: #595959;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s ease-out;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #42d6ff;
    span {
      color: #42d6ff;
    }
    .side-features__card_img {
      background-color: #99e4fe;
      color: white;
    }
  }
}

.side-features__card_img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #42d6ff;
  transition: all 0.2s ease-out;
}

.slide-2_content {
  display: block;
  color: #595959;
  span {
    display: block;
    margin-bottom: 15px;
    color: #595959;
    font-family: Verdana;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
  }
  p {
    color: #595959;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  a {
    display: inline-block;
    padding: 10px 26px;
    border: 1px solid #42d6ff;
    border-radius: 3px;
    color: #42d6ff;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: #42d6ff;
      color: #343333;
    }
  }
}

#owl-seo .item img {
  width: 100%;
}

.slider-seo {
  color: #595959;
  font-family: Verdana;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  span {
    display: block;
    margin-bottom: 25px;
    color: #595959;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  h4 {
    text-transform: uppercase;
  }
}

.slide-4__title {
  display: block;
  margin-bottom: 70px;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS";
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.slide-4__card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  div {
    img {
      display: inline-block;
      max-width: 99%;
    }
    margin-bottom: 35px;
  }
  span {
    display: block;
    margin-bottom: 15px;
    color: white;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
  a {
    display: block;
    color: white;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
}

.slide-4__info {
  display: block;
  margin-top: 60px;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.home-order {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  input {
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 22px 28px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: #fefefe;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
  .home-order__submit {
    display: inline-block;
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 22px 90px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.54);
    color: #14bdec;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: #343333;
      color: #f4f4f4;
      box-shadow: none;
    }
  }
}

.home-footer {
  margin-top: 100px;
  text-align: center;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: inline-block;
      padding: 0 15px;
      color: white;
      font-family: Verdana;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
}

.home-creators {
  display: block;
  text-align: center;
  color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  a {
    color: white;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #343333;
    }
  }
}

.main-sub-header_page {
  background-color: rgba(0, 0, 0, 0.89);
}

.main-header_page {
  background-color: #262626;
}

.main-footer {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #262626;
  .home-footer {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.main-content {
  margin-bottom: 40px;
}

.main-sidebar {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 75px;
  list-style: none;
}

.breadcrump {
  margin-top: 75px;
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #656565;
  a {
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #656565;
    text-decoration: underline;
    &:hover {
      color: #14bdec;
      text-decoration: none;
    }
  }
  span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #42d6ff;
  }
}

.main-content__title {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #595959;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.feature-card {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.99);
  border-radius: 5px;
  box-shadow: 4px 6.9px 51px rgba(0, 0, 0, 0.27);
  transition: all 0.2s ease-out;
  img {
    display: inline-block;
    width: 220px;
    height: 140px;
    object-fit: contain;
  }
  &:hover {
    box-shadow: 4px 6.9px 51px rgba(191, 191, 191, 0.27);
  }
}

.feature-card__text {
  display: inline-block;
  padding-left: 10px;
  span {
    display: block;
    margin-bottom: 15px;
    color: #010101;
    font-family: Verdana;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
  }
  p {
    color: #5e5c5c;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 30px;
    background-color: #42d6ff;
    border: 1px solid #42d6ff;
    border-radius: 3px;
    color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: transparent;
      text-decoration: none;
      color: #42d6ff;
    }
  }
}

.feature-article {
  color: #575757;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #010101;
    font-family: "Trebuchet MS";
    font-weight: 400;
  }
  blockquote {
    border-left: 5px solid #42d6ff !important;
    color: black;
    font-family: Verdana;
    font-size: 14px;
    font-style: italic;
    line-height: 26px;
  }
}

.portfolio-category {
  display: inline-block;
  margin-top: 10px;
  margin-right: 18px;
  width: 280;
  max-width: 100%;
  padding: 18px 24px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.14);
  color: #595959;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
    text-decoration: none;
  }
}

#loadMore {
  margin-right: 100px;
}

.portfolio-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  li {
    display: none;
  }
}

.portfolio-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 40px;
  margin-right: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    text-decoration: none;
    color: #14bdec;
    .portfolio-card__image {
      -webkit-filter: brightness(40%);
    }
  }
  span {
    display: block;
    margin-top: 15px;
    color: #595959;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

.portfolio-card__image {
  display: inline-block;
  width: 200px;
  height: 175px;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

.portfolio-card__loop {
  position: absolute;
  margin-left: -15px;
  margin-top: -100px;
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.categories-sidebar {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 75px;
  a {
    display: block;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #595959;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #42d6ff;
    }
  }
}

.product-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
  max-width: 675px;
  padding: 25px;
  background-color: white;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  img {
    max-width: 150px;
  }
}

.product-card__text {
  padding-left: 15px;
  font-family: Verdana;
  font-size: 14px;
}

.product-card__link {
  display: block;
  margin-bottom: 20px;
  color: #4d9ab0;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: underline;
}

.product-card__more {
  display: inline-block;
  background-color: #42d6ff;
  border: 1px solid #42d6ff;
  border-radius: 3px;
  padding: 12px 30px;
  color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: transparent;
    text-decoration: none;
    color: #42d6ff;
  }
}

.load-button {
  display: inline-block;
  margin: 30px auto 0;
  padding: 12px 20px;
  border: 1px solid #42d6ff;
  border-radius: 3px;
  color: #42d6ff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: #42d6ff;
    color: white;
    text-decoration: none;
  }
}

.product-article {
  font-family: Verdana;
  font-size: 14px;
  line-height: 26px;
  color: #717171;
  font-weight: 400;
  img {
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #343434;
    font-weight: 700;
  }
}

.product-article__back {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 22px;
  border: 1px solid #42d6ff;
  border-radius: 3px;
  color: #42d6ff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: #42d6ff;
    text-decoration: none;
    color: white;
  }
}

.product-article__title {
  display: block;
  margin-bottom: 30px;
  color: #343434;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.scroll-icon {
  position: absolute;
  width: 2%;
  height: 2%;
  left: 49%;
  bottom: 6%;
  object-fit: cover;
}

.main-sidebar__drop {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.portfolio-card {
  display: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}