.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  border: none;
  background-color: transparent;
  color: #42d6ff;
}

.navbar-nav>li>a {
  font-family: Verdana;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fefefe;
  transition: all 0.2s ease-out;
  &:hover,
  &:focus,
  &:active {
    color: #42d6ff;
  }
}

.nav>li>a {
  padding: 34px 10px;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
}

.dropdown-menu {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.62);
  li {
    box-shadow: 0 1px 0 black;
  }
}

.dropdown-menu>li>a {
  padding: 18px 22px;
  color: white;
  font-family: Verdana;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(0, 0, 0, 0.83);
    color: #42d6ff;
  }
}

.carousel-caption {
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  text-shadow: none;
}

.carousel-inner > .item > img {
  min-width: 100%;
  height: 300px;
}

.owl-theme .owl-controls {
  text-align: left;
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  padding: 0;
  transition: all 0.2s ease-out;
  opacity: 0.9;
  &:hover {
    transform: scale(1.1);
  }
}

.navbar-toggle {
  margin-top: 15px;
}

.lb-data .lb-close {
  object-fit: contain;
}