@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .main-header-call {
    text-align: center;
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .slide-4__title {
    margin-bottom: 15px;
  }
  .slide-4__card {
    div {
      img {
        margin-top: 10px;
      }
    }
  }
  .main-sub-header span {
    display: block;
    padding: 5px;
  }
  .main-header-call a {
    margin-bottom: 5px;
  }
  .home-order {
    input {
      margin-bottom: 5px;
    }
    a {
      margin-bottom: 5px;
    }
  }
  #section1,
  #section2 {
    background: none;
  }
  #section1,
  #section2,
  #section3 {
    padding: 5px;
  }
  .slide-4__card div {
    margin-bottom: 10px;
  }
  .slide-4__info {
    margin-top: 10px;
  }
  .home-footer {
    margin-top: 20px;
  }
  .main-sidebar {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .main-content {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-footer {
    margin-bottom: 20px;
  }
  .breadcrump {
    margin-top: 20px;
  }
  .feature-card {
    flex-flow: column wrap;
  }
  .product-card {
    flex-flow: column wrap;
  }
  .nav > li > a {
    padding: 5px 10px;
  }
  .slide-1__block {
    bottom: 20px;
  }
  .side-features {
    margin-bottom: 30px;
  }
  .slider-seo {
    margin-top: 15px;
  }
  #owl-seo .item {
    min-height: auto;
  }
  .portfolio-cards {
    justify-content: center;
  }
  .portfolio-card {
    margin-right: 0;
  }
  #loadMore {
    margin-right: 0;
  }
  #section1 {
    display: block;
  }
  .side-features__title {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .side-features__card {
    transform: scale(0.8);
  }
  .slide-2_content span {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .slide-2_content p {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 1.25;
  }
  .side-features {
    margin-bottom: 5px;
  }
  .slide-2_content a {
    padding: 5px 10px;
  }
  .slide-1__block {
    max-width: 100%;
  }
  #section2 {
    height: auto !important;
    min-height: auto !important;
    overflow: hidden !important;
  }
  #owl-seo {
    width: 100%;
    height: auto !important;
    overflow: hidden !important;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}