// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fullpage.js/_jquery.fullPage.scss";
@import "bower_components/owl/owl-carousel/_owl.carousel.scss";
@import "bower_components/owl/owl-carousel/_owl.theme.scss";
@import "bower_components/owl/owl-carousel/_owl.transitions.scss";
@import "bower_components/lightbox2/dist/css/_lightbox.scss";
// endbower
body {
  font-family: Verdana, Arial, sans-serif;
}

.section {
  background-size: cover;
}

#section0 {
  background-image: url('../images/slide_1.jpg');
  padding: 0;
}

#section1 {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url('../images/slide_2.jpg');
  padding: 0;
  overflow: scroll;
}

#section2 {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url('../images/slide_3.jpg');
  background-size: 30%;
  background-position-x: 85%;
  background-position-y: center;
  background-repeat: no-repeat;
  padding: 0;
}

#section3 {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url('../images/slide_4.jpg');
  padding: 0;
}

@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";